body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333;
  text-align: center;
}

.App-header {
  padding: 2rem;
  background-color: #282c34;
  color: white;
}
